
div {
 background:gray;
}
ol {
 font-size:23.5px;
}
h2 {
 color:white;
 font-size:40px;
 font-family: 'Kurale', serif;
 text-align:center
}
h3 {
 font-size:32px;
 text-align:center;
  font-family: 'Kurale', serif;
} 
p {
 font-size:23.5px;     
}
h1 {
 color:white;
 font-size:65px;
 font-family: 'Kurale', serif;
 text-align:center
}
body {
 background:	#DDA0DD;
 color:white;
}
li {
 font-size:23.5px;
}
h5 {
 color:black;
}
ul {
 font-size: 23.5px;
}