.water {
    text-align:center;
}
div {
 background:gray;
}
ol {
 font-size:21.5px;
}
h2 {
 color:white;
 font-size:40px;
 font-family: 'Kurale', serif;
 text-align:center
}
h3 {
 font-size:32px;
 text-align:center;
  font-family: 'Kurale', serif;
} 
p {
   font-size:21.5px;     
}
h1 {
 color:white;
 font-size:65px;
 font-family: 'Kurale', serif;
 text-align:center
}
body {
  background:purple;
 color:white;
}
li {
 font-size:21.5px;
}
h5 {
    color:gray;
}